@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input.custom-autofill {
  background-color: #2d3748 !important; /* Background for dark mode */
  color: #e2e8f0 !important; /* Text color for dark mode */
  -webkit-text-fill-color: #e2e8f0 !important; /* Text color for autofill in dark mode */
  box-shadow: 0 0 0px 1000px #2d3748 inset !important; /* Force dark mode background */
}

input.custom-autofill:focus,
input.custom-autofill:active {
  background-color: #2d3748 !important; /* Ensure consistent background */
  color: #e2e8f0 !important; /* Ensure consistent text color */
  -webkit-text-fill-color: #e2e8f0 !important;
  box-shadow: 0 0 0px 1000px #2d3748 inset !important;
}

